<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" class="h-100">

<head th:replace="layout/layout :: head"></head>

<body class="d-flex flex-column h-100">

	<header th:replace="layout/layout :: header"></header>

	<main role="main" class="flex-shrink-0">
	<div class="container">
		<div class="pt-3"></div>
		<div class="card bg-light">
			<div class="card-header"><b><span th:text="${accion}"></span> usuario</b></div>
			<div class="card-body">
				<div class="card-text">

					<form th:object="${usuario}" th:action="@{/usuarios/operar/}" method="post" class="needs-validation" novalidate>
						
						<input th:if="${usuario.id}" type="hidden" th:field="*{id}">
						
						<div class="form-group row">
							<label for="otrDniUsu" class="col-sm-2 col-form-label">Doc.&nbsp;identidad</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{otrDniUsu}" class="col-sm-3 form-control" id="otrDniUsu"
								th:unless="${usuario.id}" 
								th:classappend="${#fields.hasErrors('otrDniUsu')} ? is-invalid" required>
								<input type="text" th:field="*{otrDniUsu}" class="col-sm-3 form-control" id="otrDniUsu"
								th:if="${usuario.id}" readonly>
								<div th:unless="${#fields.hasErrors('otrDniUsu')}" class="invalid-feedback text-left">
									Ingrese el documento de identidad.
								</div>
								<div th:if="${#fields.hasErrors('otrDniUsu')}" th:errors="*{otrDniUsu}" 
									class="invalid-feedback text-left">
								</div>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="desNomUsu" class="col-sm-2 col-form-label">Nombres</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{desNomUsu}" class="col-sm-6 form-control" id="desNomUsu"
								th:classappend="${#fields.hasErrors('desNomUsu')} ? is-invalid" required>
								<div th:unless="${#fields.hasErrors('desNomUsu')}" class="invalid-feedback text-left">Ingrese los nombres.</div>
								<div th:if="${#fields.hasErrors('desNomUsu')}" th:errors="*{desNomUsu}" 
									class="invalid-feedback text-left">
								</div>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="desApeUsu" class="col-sm-2 col-form-label">Apellidos</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{desApeUsu}" class="col-sm-6 form-control" id="desApeUsu"
								th:classappend="${#fields.hasErrors('desApeUsu')} ? is-invalid"  required>
								<div th:unless="${#fields.hasErrors('desApeUsu')}" class="invalid-feedback text-left">Ingrese los apellidos.</div>
								<div th:if="${#fields.hasErrors('desApeUsu')}" th:errors="*{desApeUsu}" 
									class="invalid-feedback text-left">
								</div>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="desApeUsu" class="col-sm-2 col-form-label">Contrase&ntilde;a</label>
							<div class="col-sm-3">
								<input type="password" th:field="*{otrClaUsu}" class="col-sm-12 form-control" id="otrClaUsu" >
							</div>
						</div>
						
						<div class="form-group row">
							<label for="idTipUsu" class="col-sm-2 col-form-label">Tipo</label>
							<div class="col-sm-10">
								<select th:field="*{idTipUsu}" class="custom-select col-sm-4" id="idTipUsu" required>
									<option value="" selected>Seleccionar...</option>
									<option th:each="tipoUsuario : ${tipoUsuarios}" th:value="${tipoUsuario.id}" th:text="${tipoUsuario.desTipUsu}"/>
								</select>
								<div class="invalid-feedback text-left">Ingrese el tipo de usuario.</div>
							</div>
						</div>
					
						<div class="form-group row">
							<label for="fecNacUsu" class="col-sm-2 col-form-label">Fecha&nbsp;Nacimiento</label>
							<div class="col-sm-10">
								<input type="date" th:field="*{fecNacUsu}" class="col-sm-3 form-control" id="fecNacUsu"
								th:classappend="${#fields.hasErrors('fecNacUsu')} ? is-invalid" placeholder="dd/mm/yyyy" required>
								<div th:unless="${#fields.hasErrors('fecNacUsu')}" class="invalid-feedback text-left">Ingrese la fecha de nacimiento.</div>
								<div th:if="${#fields.hasErrors('fecNacUsu')}" th:errors="*{fecNacUsu}" 
									class="invalid-feedback text-left">
								</div>
							</div>
						</div>
						

						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Aceptar</button>
							</div>
						</div>
					</form>


				</div>
			</div>
		</div>
		
	</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>

	<script type="text/javascript">
		$(document).ready(function() {
// 			$("#fecNacUsu").datepicker({
// 				changeMonth : true,
// 				changeYear : true,
// 			  	showMonthAfterYear: true,
// 			  	dateFormat: "dd/mm/yy",
// 			  	yearRange: "c-70:c+nn"
// 			});
		})
	</script>

	<script type="text/javascript" th:src="@{/js/validation.js}"></script>

</body>
</html>


