<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" class="h-100">

<head th:replace="layout/layout :: head"></head>

<body class="d-flex flex-column h-100">

	<header th:replace="layout/layout :: header"></header>

	<main role="main" class="flex-shrink-0">
	<div class="container">
		<div class="pt-3"></div>
		<div class="card bg-light">
			<div class="card-header"><b>Listar usuarios</b></div>
			<div class="card-body">
				<div class="card-text">
				
					<div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>

					<div class="pb-3">
						<button type="button" class="btn btn-primary btn-sm" id="btn-registrar" >Registrar</button>
						<button type="button" class="btn btn-primary btn-sm" id="btn-editar" >Editar</button>
						<button type="button" class="btn btn-primary btn-sm" id="btn-eliminar" >Eliminar</button>
					</div>
				    <form th:action="@{/usuarios/registrar/}" method="post" id="frm-registrar" ></form>
				    <form th:action="@{/usuarios/editar/}" method="post" id="frm-editar" th:object="${editarDto}" >
				    	<input type="hidden" th:field="*{codigo}" class="codigo" >
				    </form>
				    <form th:action="@{/usuarios/eliminar/}" method="post" id="frm-eliminar" th:object="${editarDto}" >
				    	<input type="hidden" th:field="*{codigo}" class="codigo" >
				    </form>
					<table class="table table-hover table-sm">
						<thead class="thead-light">
							<tr>
								<th scope="col"></th>
								<th scope="col">N&uacute;mero doc.</th>
								<th scope="col">Nombres</th>
								<th scope="col">Apellidos</th>
								<th scope="col">Tipo</th>
							</tr>
						</thead>
						<tbody class="tbody-data">
							<tr th:each="usuario: ${usuarios}">
								<td class="text-center">
									<input type="radio" name="codigo" class="codigo" th:value="${usuario.id}">
								</td>
								<td th:text="${usuario.otrDniUsu}"></td>
								<td th:text="${usuario.desNomUsu}"></td>
								<td th:text="${usuario.desApeUsu}"></td>
								<td th:text="${usuario.tipoUsuario.desTipUsu}"></td>
							</tr>
						</tbody>
					</table>

					<nav aria-label="Page navigation">
						<ul class="pagination pagination-sm justify-content-end">
							<li class="page-item disabled">
								<a href="#" class="page-link" >
									<span th:if="${currentPage < totalPages}" th:text="@{ ${(pageSize * (currentPage-1)) + 1} + ' - ' + ${pageSize * currentPage} + ' de ' + ${totalItems} }"></span>
									<span th:unless="${currentPage < totalPages}" th:text="@{ ${(pageSize * (currentPage-1)) + 1} + ' - ' + ${totalItems} + ' de ' + ${totalItems} }"></span>
								</a>
							</li>
							<li class="page-item" th:classappend="${currentPage == 1} ? disabled">
								<a th:href="@{'/usuarios/listar/' + ${currentPage - 1}}" class="page-link" >Anterior</a>
							</li>
							<li class="page-item" th:classappend="${currentPage >= totalPages} ? disabled">
								<a th:href="@{'/usuarios/listar/' + ${currentPage + 1}}" class="page-link" >Siguiente</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminaci&oacute;n</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">Se eliminara el usuario <span id="data-eliminacion"></span></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary" id="btn-confirmar-eliminar" >Aceptar</button>
					</div>
				</div>
			</div>
		</div>




	</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.tbody-data').delegate('tr','click', function(){
		        $(this).find('td').find('.codigo').prop('checked',true);
		    });
			$('#btn-registrar').click(function(){
				$('#frm-registrar').submit();
		    });
			$('#btn-editar').click(function(){
				const id = $('.tbody-data').find(".codigo:checked").val();
				$('#frm-editar').find('.codigo').val(id);
				$('#frm-editar').submit();
		    });
			$('#btn-eliminar').click(function(){
				const id = $('.tbody-data').find(".codigo:checked").val();
				$('#data-eliminacion').html(id);
				$('#exampleModal').modal('show')
		    });
			$('#btn-confirmar-eliminar').click(function(){
				const id = $('.tbody-data').find(".codigo:checked").val();
				$('#frm-eliminar').find('.codigo').val(id);
				$('#frm-eliminar').submit();
		    });
			
			

		    
		    
		})
	</script>

</body>
</html>


