body{
    background:url(../img/icon/liceo_back.jpg) no-repeat center center fixed;
    background-size:cover;
}
/*
.main-section{
    margin: 0 auto;
    margin-top:25%
}*/
.user-img{
    margin-top:-50px;
    margin-bottom: 35px;
}

.user-img img{
    width:100px;
    height: 100px;
}